@page "/books"

@rendermode InteractiveServer
@* @attribute [StreamRendering] *@

<h3>Collection</h3>

<CascadingValue Value="BookService">
    <BookList BookSelected="SelectedBook"/>
</CascadingValue>

@code {
    [Inject] IBookService<Book> BookService { get; set; }
    [Parameter]
    public Book SelectedBook { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await BookService.GetBooks(1);
    }

    void ShowDetails(int id)
    {
        SelectedBook = BookService.Books.First(d => d.Id == id);
    }
}
